<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/m-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/m-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/allCompanyList}">企业注册管理</a></li>
			</ul>
			<!-- /BREADCRUMBS -->

			<!-- mainContentBox -->
			<div id="mainContentBox">
		
		
	         <div class="box border">
				<div class="box-title">
					<h4 sec:authorize="hasRole('ROLE_ADMIN')">
						<i class="fa fa-plus"></i><a href="#"  th:href="@{/companyForm}">添加企业</a>
					</h4>
				</div>
				<div class="box-body"> 
			  <div th:if="${errorMsg!=null}">
				<div class="alert alert-block alert-danger fade in">
					<a class="close" data-dismiss="alert" href="#" aria-hidden="true">×</a>
					<h4>删除错误，该企业已经申报了风险源，不能删除此企业。</h4>						
				</div>
			   </div>
				
				   <div class="tabbable header-tabs">
									<table cellpadding="0" cellspacing="0" border="0" class="exportdatatable datatable table table-striped table-bordered table-hover" width="100%">
											<thead>
												<tr>
													<th>企业名称</th>
													<th>地址</th>
													<th>行业类别</th>
													<th>关联运维公司</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="nc : ${yesAuditCompanies}">
													<td th:text="${nc.companyName}">企业名称</td>
													<td th:text="${nc.address}">地址</td>
													<td th:text="${nc.industrySectorDic.industrySector}">行业类别</td>
													<td th:text="${nc.operationMaintanceCompany.companyName}">关联运维公司</td>
													<td>
													<a href="#" th:href="@{/auditCompany(companyId=${nc.id},view=view)}"><i class="fa  fa-file-text-o"></i><span>查看</span></a>
													<a sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:href="@{/companyForm(companyId=${nc.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:href="@{/deleteCompany(companyId=${nc.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
												</tr>
									
											</tbody>
											
										</table>
				</div>
              </div>
			</div>
		
		
			</div>
			<!-- /mainContentBox -->
		  </div>
		
	</section>

    <div th:include="fragments/m-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {	
			App.setPage("allCompanyList");
			App.init(); //Initialise plugins and elements
			App.handleTables();

		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>