<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/m-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/m-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
			    <li><a href="#"  th:href="@{/allRiskSourceList}">风险源管理</a></li>
			    <li>风险源详情</li>
				<li th:text="${riskSource.riskName}"></li>
			</ul>
			<!-- /BREADCRUMBS -->

			<!-- mainContentBox -->
			<div id="mainContentBox">



			     <div class="tabbable header-tabs">
					<ul id="myTab" class="nav nav-tabs">
						 <li><a href="#box_tab1" data-toggle="tab"><span class="hidden-inline-mobile">基本信息</span></a></li>
						 <li><a href="#box_tab2" data-toggle="tab"><span class="hidden-inline-mobile">平面图</span></a></li>
						 <li><a href="#box_tab3" data-toggle="tab"><span class="hidden-inline-mobile">产品原料</span></a></li>
						 <li><a href="#box_tab4" data-toggle="tab"><span class="hidden-inline-mobile">生产工艺</span></a></li>
						 <li><a href="#box_tab5" data-toggle="tab"><span class="hidden-inline-mobile">风险防控</span></a></li>			             
						 <li><a href="#box_tab6" data-toggle="tab"><span class="hidden-inline-mobile">应急物资</span></a></li>
						 <li><a href="#box_tab7" data-toggle="tab"><span class="hidden-inline-mobile">周边环境</span></a></li>
						 <li><a href="#box_tab8" data-toggle="tab"><span class="hidden-inline-mobile">企业预案</span></a></li>
						 <li><a href="#box_tab9" data-toggle="tab"><span class="hidden-inline-mobile">仓库风险</span></a></li>
						 <li><a href="#box_tab10" data-toggle="tab"><span class="hidden-inline-mobile">设备风险</span></a></li>
						 <li><a href="#box_tab11" data-toggle="tab"><span class="hidden-inline-mobile">环保人员</span></a></li>
				 </ul>
					<div class="tab-content">
					   <div class="tab-pane fade in active" id="box_tab1">
					    
					    <h5>
					    <a href="#" th:href="@{/riskSourceBasicInfoForm(riskSourceId=${riskSource.id})}"><i class="fa  fa-pencil-square-o"></i><span>修改风险源基本信息</span></a>
					    </h5>
					     <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped  table-hover">
				    		<thead style="height: 1px;">
												<tr>
													<th style="width: 10%"></th>
													<th style="width: 40%"></th>
													<th style="width: 10%"></th>
													<th style="width: 40%"></th>
												</tr>
							</thead> 
				            <tr><td>创建时间:</td><td  th:text="${riskSource.creationDate}">2009</td><td>风险源名称:</td><td th:text="${riskSource.riskName}">单位名称</td></tr>
				            <tr><td>机构代码:</td><td th:text="${riskSource.company.registrationCode}"></td><td>营业执照:</td><td th:text="${riskSource.company.licenseCode}"></td></tr>
				             <tr><td>法人代表:</td><td th:text="${riskSource.company.corporation}"></td><td>法人传真:</td><td th:text="${riskSource.company.corporationFax}"></td></tr>
				             <tr><td>行政区域:</td><td th:text="${riskSource.company.administrativeDivision.division}"></td><td>单位地址:</td><td th:text="${riskSource.company.address}"></td></tr>
				             <tr><td>经度:</td><td th:text="${riskSource.lng}">></td><td>纬度:</td><td th:text="${riskSource.lat}">></td></tr>
				            </table>
					   </div>
					   
					
					   <div class="tab-pane fade" id="box_tab2">
					   	   <div th:if="${riskSource.company.housePlan!=null}">
				               <img th:src="@{getimage/}+${riskSource.company.housePlan.fileName}" width="100%" height="300px"/>
				              <h5>重新上传厂区平面图：</h5>
				              <form class="form-horizontal" method="post" enctype ="multipart/form-data" action="#" th:action="@{/uploadHousePlan}">
				      	
												<input name="file" type="file"/>							
											    <input name="companyId" th:value="${riskSource.company.id}"  type="hidden"/>
								                <input name="riskSourceId" th:value="${riskSource.id}"  type="hidden"/>
								                 <button class="btn btn-default" name="action" value="yes"><i class="fa fa-check"></i>上传</button>
									</form>
				             
				             <!--<div id="dropzone">
				               		<form th:action="@{/uploadHousePlan}" 
										  class="dropzone"
										  id="my-awesome-dropzone">
											<div class="fallback">
												<input name="file" type="file"/>
											</div>
											    <input name="companyId" th:value="${riskSource.company.id}"  type="hidden"/>
									</form>
						         </div>
						           --> 
				          
				          </div>
				          <div th:if="${riskSource.company.housePlan==null}">
				                 
				                   <form class="form-horizontal" method="post" enctype ="multipart/form-data" action="#" th:action="@{/uploadHousePlan}">
												<input name="file" type="file"/>							
											    <input name="companyId" th:value="${riskSource.company.id}"  type="hidden"/>
								                <input name="riskSourceId" th:value="${riskSource.id}"  type="hidden"/>
								                 <button class="btn btn-default" name="action" value="yes"><i class="fa fa-check"></i>上传</button>
									</form>
				             
						        
				          </div>
					   </div>
					   
					   
					   
					   <div class="tab-pane fade" id="box_tab3">
					   
					     <h5>
					      
					       <a href="#" th:href="@{/chemicalMaterialForm(riskSourceId=${riskSource.id},view=new)}"><i class="fa fa-plus"></i><span>添加产品或原料</span></a>
					    </h5>
					      <div th:if="!${#lists.isEmpty(riskSource.company.chemicalMaterials)}">
			               <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>产品名称</th>
													<th>化学名</th>
													<th>CAS号</th>
													<th>物理状态</th>
													<th>是否危化品</th>
													<th>物质分类</th>
													<th>存储量</th>
													<th>设备状态</th>
													<th>生产方式</th>
													<th>操作</th>
												</tr>
											</thead>               
										    
											<tbody>
												<tr  th:each="cm : ${riskSource.company.chemicalMaterials}">
													<td th:text="${cm.materialName}"></td>
													<td th:text="${cm.chemicalName}"></td>
													<td th:text="${cm.cas}"></td>
													<td th:text="${cm.physicalState.physicalState}"></td>
													<td th:text="${cm.isHazardous}?是:否"></td>
													<td th:text="${cm.materialCategory.materialCategory}"></td>
													<td th:text="${cm.quantity}+(吨)"></td>
													<td th:text="${cm.equipmentState.equipmentState}"></td>
													<td th:text="${cm.productionMode.productionMode}"></td>
													<td>
													
													<a href="#" th:href="@{/chemicalMaterialForm(riskSourceId=${riskSource.id},view=view,materialId=${cm.id})}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/chemicalMaterialForm(riskSourceId=${riskSource.id},view=modify,materialId=${cm.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteChemicalMaterial(riskSourceId=${riskSource.id},materialId=${cm.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
												   
													</td>
												</tr>
											</tbody>
										</table>
				                </div>
					   </div>
					   
					   
					   <div class="tab-pane fade" id="box_tab4">
					    <h5>
					       <a href="#" th:href="@{/workmanshipForm(riskSourceId=${riskSource.id},view=new)}"><i class="fa fa-plus"></i><span>添加生产工艺</span></a>
					    </h5>
					     <div th:if="!${#lists.isEmpty(riskSource.company.workmanships)}">
				 
			             <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>工艺标题</th>
													<th>描述</th>
													<th>附件</th>
													<th>操作</th>
												</tr>
											</thead>               
										    
											<tbody>
												<tr  th:each="wm : ${riskSource.company.workmanships}">
													<td th:text="${wm.title}"></td>
													<td th:text="${wm.description}"></td>
													<td>
													  <div th:if="${!#strings.isEmpty(wm.fileName)}"> <a href="#" th:href="@{getimage/}+${wm.fileName}"  target="_blank"><i class="fa  fa-cloud-download"></i><span>下载生产工艺</span></a></div>
													 
													</td>	
													<td>
													<a href="#" th:href="@{/workmanshipForm(riskSourceId=${riskSource.id},view=view,workmanshipId=${wm.id})}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/workmanshipForm(riskSourceId=${riskSource.id},view=modify,workmanshipId=${wm.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteWorkmanship(riskSourceId=${riskSource.id},workmanshipId=${wm.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>	
												</tr>
											</tbody>
										</table>
				     
				         </div>
					   </div>
					   
					   
					    <div class="tab-pane fade" id="box_tab5">
					    
					       <h5>
					       <a href="#" th:href="@{/riskAversionForm(riskSourceId=${riskSource.id},view=new)}"><i class="fa fa-plus"></i><span>添加风险防范措施</span></a>
					    </h5>
					     <div th:if="!${#lists.isEmpty(riskSource.company.riskAversions)}">
				     
			         <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>防控类别</th>
													<th>标题</th>
													<th>环评单位</th>
													<th>环评验收人</th>
													<th>文件</th>
													<th>操作</th>
												</tr>
											</thead>               
										    
											<tbody>
												<tr  th:each="ra : ${riskSource.company.riskAversions}">
													<td th:text="${ra.riskAversionType.riskAversionType}"></td>
													<td th:text="${ra.remark}"></td>
													<td th:text="${ra.auditOrg}"></td>
													<td th:text="${ra.auditor}"></td>
													<td>
													 <div th:if="${!#strings.isEmpty(ra.fileName)}"> <a href="#" th:href="@{getimage/}+${ra.fileName}"  target="_blank"><i class="fa  fa-cloud-download"></i><span>下载防控措施文件</span></a></div>
													</td>	
													<td>
	                                                <a href="#" th:href="@{/riskAversionForm(riskSourceId=${riskSource.id},view=view,riskAversionId=${ra.id})}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/riskAversionForm(riskSourceId=${riskSource.id},view=modify,riskAversionId=${ra.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteRiskAversion(riskSourceId=${riskSource.id},riskAversionId=${ra.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
												  
													</td>	
												</tr>
											</tbody>
											
										</table>
				     
				           </div>
				   
					    </div>
					   
					   
					    <div class="tab-pane fade" id="box_tab6">
					              <h5>
					       <a href="#" th:href="@{/emergencyCMaterialForm(riskSourceId=${riskSource.id},view=new)}"><i class="fa fa-plus"></i><span>添加应急物资</span></a>
					       </h5>
					      <div th:if="!${#lists.isEmpty(riskSource.company.emergencyMaterials)}">
				           
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>物资名称</th>
													<th>数量</th>
													<th>设备类型</th>
													<th>存放地址</th>
													<th>联系手机</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="nce : ${riskSource.company.emergencyMaterials}">
													<td th:text="${nce.materialName}">物资名称</td>
													<td th:text="${nce.quantity}">数量</td>
													<td th:text="${nce.equipmentType.equipmentType}">设备类型</td>
													<td th:text="${nce.address}"></td>
													<td th:text="${nce.mobile}"></td>
													<td>
													<a href="#" th:href="@{/emergencyCMaterialForm(riskSourceId=${riskSource.id},view=view,materialId=${nce.id})}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/emergencyCMaterialForm(riskSourceId=${riskSource.id},view=modify,materialId=${nce.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteCEmergencyMaterial(riskSourceId=${riskSource.id},materialId=${nce.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
													
												</tr>
									
											</tbody>
											
										</table>
				             </div>
					    </div>
					   
					   
					   
					    <div class="tab-pane fade" id="box_tab7">
					      <h5>
					       <a href="#" th:href="@{/waterEnvForm(riskSourceId=${riskSource.id},view=new)}"><i class="fa fa-plus"></i><span>添加周边水环境</span></a>
					    </h5>
					     <div th:if="!${#lists.isEmpty(riskSource.company.companyWaterEnvs)}">
				     
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>保护目标名称</th>
													<th>方位</th>
													<th>距离</th>
													<th>水环境类别</th>
													<th>功能区</th>
													<th>水环境联系人</th>
													<th>水环境联系手机</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="cw : ${riskSource.company.companyWaterEnvs}">
													<td th:text="${cw.waterEnv.waterEnvName}"></td>
													<td th:text="${cw.location}"></td>
													<td th:text="${cw.distance}"></td>
													<td th:text="${cw.waterEnv.waterEnvType.waterEnvType}"></td>
													<td th:text="${cw.waterEnv.envFunc.envFunc}"></td>
													<td th:text="${cw.waterEnv.emePerson}"></td>
													<td th:text="${cw.waterEnv.emeMobile}"></td>
													<td>
												    <a href="#" th:href="@{/waterEnvForm(riskSourceId=${riskSource.id},view=view,waterEnvId=${cw.waterEnv.id})}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/waterEnvForm(riskSourceId=${riskSource.id},view=modify,waterEnvId=${cw.waterEnv.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteWaterEnv(riskSourceId=${riskSource.id},waterEnvId=${cw.waterEnv.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				     <h5>
					       <a href="#" th:href="@{/airEnvForm(riskSourceId=${riskSource.id},view=new)}"><i class="fa fa-plus"></i><span>添加周边气环境</span></a>
					    </h5>
				       <div th:if="!${#lists.isEmpty(riskSource.company.companyAirEnvs)}">
				        
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>保护目标名称</th>
													<th>方位</th>
													<th>距离</th>
													<th>气环境类别</th>
													<th>功能区</th>
													<th>气环境联系人</th>
													<th>气环境联系手机</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="ca : ${riskSource.company.companyAirEnvs}">
													<td th:text="${ca.airEnv.airEnvName}"></td>
													<td th:text="${ca.locationDic.location}"></td>
													<td th:text="${ca.distance}"></td>
													<td th:text="${ca.airEnv.airEnvType.airEnvType}"></td>
													<td th:text="${ca.airEnv.envFunc.envFunc}"></td>
													<td th:text="${ca.airEnv.emePerson}"></td>
													<td th:text="${ca.airEnv.emeMobile}"></td>
													<td>
												    <a href="#" th:href="@{/airEnvForm(riskSourceId=${riskSource.id},view=view,airEnvId=${ca.airEnv.id})}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/airEnvForm(riskSourceId=${riskSource.id},view=modify,airEnvId=${ca.airEnv.id})}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteAirEnv(riskSourceId=${riskSource.id},airEnvId=${ca.airEnv.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
													
												</tr>
									
											</tbody>
											
										</table>
				            </div>
					    </div>
					   
					   
					    <div class="tab-pane fade" id="box_tab8">
					             <h5>
					       <a href="#" th:href="@{/notImpl}"><i class="fa fa-plus"></i><span>添加企业预案</span></a>
					    </h5>
					     <div th:if="!${#lists.isEmpty(riskSource.company.emergencyResponsePlans)}">
				         
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>标题</th>
													<th>预案类型</th>
													<th>备案登记号</th>
													<th>备案登记部门</th>
													<th>备案时间</th>
													<th>预案内容</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="er : ${riskSource.company.emergencyResponsePlans}">
													<td th:text="${er.title}"></td>
													<td th:text="${er.emergencyReponsePlanType.emergencyResponsePlanType}"></td>
													<td th:text="${er.registCode}"></td>
													<td th:text="${er.epb.epbName}"></td>
													<td th:text="${er.creationDate}"></td>
												  <td>
													<a href="#" th:href="@{/img/proj/}+${er.fileName}" target="_blank"><i class="fa  fa-cloud-download"></i><span>下载预案内容</span></a>
													</td>
													<td>
													<a href="#" th:href="@{/notImpl}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/notImpl}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/notImpl}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
													
												</tr>
									
											</tbody>
											
										</table>
				          </div>
					    </div>
					   
					    <div class="tab-pane fade" id="box_tab9">
					           <h5>
					       <a href="#" th:href="@{/notImpl}"><i class="fa fa-plus"></i><span>添加仓库风险</span></a>
					    </h5>
				   	<div th:if="!${#lists.isEmpty(riskSource.company.warehouseRisks)}">
				           
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>仓库名称</th>
													<th>面积</th>
													<th>存储方式</th>
													<th>产品名称</th>
													<th>产品存储量</th>
													<th>更新时间</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="wr : ${riskSource.company.warehouseRisks}">
													<td th:text="${wr.warehouseName}"></td>
													<td th:text="${wr.area}"></td>
													<td th:text="${wr.storageMethod.storageMethod}"></td>
													<td th:text="${wr.materialName}"></td>
													<td th:text="${wr.volume}"></td>
													<td th:text="${wr.lastModified}"></td>
													<td>
													<a href="#" th:href="@{/notImpl}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/notImpl}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/notImpl}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
												  
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
					    </div>
					   
					   
					   <div class="tab-pane fade" id="box_tab10"> 
					               <h5>
					       <a href="#" th:href="@{/notImpl}"><i class="fa fa-plus"></i><span>添加设备风险</span></a>
					        </h5>  	
					       <div th:if="!${#lists.isEmpty(riskSource.company.equipmentRisks)}">
				             
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>设备名称</th>
													<th>品牌</th>
													<th>安装时间</th>
													<th>使用寿命</th>
													<th>设备型号</th>
													<th>主要风险</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="wr : ${riskSource.company.equipmentRisks}">
													<td th:text="${wr.equipmentName}"></td>
													<td th:text="${wr.brand}"></td>
													<td th:text="${wr.installDate}"></td>
													<td th:text="${wr.lifetime}"></td>
													<td th:text="${wr.equipmentModel}"></td>
													<td th:text="${wr.riskDes}"></td>
													<td>
													<a href="#" th:href="@{/notImpl}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/notImpl}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/notImpl}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
												  
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
					    
					    </div>
					   
					   
					    <div class="tab-pane fade" id="box_tab11">
					      <h5>
					       <a href="#" th:href="@{/envProtPersonForm(riskSourceId=${riskSource.id},companyId=${riskSource.company.id},view='new')}"><i class="fa fa-plus"></i><span>添加环保人员</span></a>
					    </h5>
					     	<div th:if="!${#lists.isEmpty(riskSource.company.envProtPersons)}">
				      
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>姓名</th>
													<th>性别</th>
													<th>职务</th>
													<th>出生年月</th>
													<th>手机</th>
													<th>固定电话</th>
													<th>专业</th>
													<th>职称</th>
													<th>操作</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="wr : ${riskSource.company.envProtPersons}">
													<td th:text="${wr.realName}"></td>
													<td th:text="${wr.gender}"></td>
													<td th:text="${wr.position}"></td>
												
													<td th:text="${wr.birth}"></td>
													<td th:text="${wr.mobile}"></td>
													<td th:text="${wr.tel}"></td>
													<td th:text="${wr.major}"></td>
													<td th:text="${wr.title}"></td>
													<td>
													<a href="#" th:href="@{/envProtPersonForm(riskSourceId=${riskSource.id},personId=${wr.id},view='view')}"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a href="#" th:href="@{/envProtPersonForm(riskSourceId=${riskSource.id},personId=${wr.id},view='modify')}"><i class="fa fa-pencil-square-o"></i><span>修改</span></a>
													<a href="#" th:href="@{/deleteProtPerson(riskSourceId=${riskSource.id},personId=${wr.id})}"><i class="fa fa-minus-square-o"></i><span>删除</span></a>    
													</td>
												</tr>
									
											</tbody>
											
										</table>
				        </div>
					   </div>
					   
					 </div>
					 
					</div>
					
			</div>
			<!-- mainContentBox -->
					   
			
			
			
		    </div>					
		     <!-- /maincontent -->
		 
	</section>

    <div th:include="fragments/m-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script th:inline="javascript">
    /*<![CDATA[*/
		jQuery(document).ready(function() {	
			//var openid = /*[[${tab}]]*/  
			//alert(openid);
			App.setPage("allRiskSourceList");
			App.init(); //Initialise plugins and elements
			App.handleTables();
			$("#myTab a[href=[['#'+${tab}]]]").tab('show');
			
			App.handleDropzone();
			
			
			
			
		});
 /*]]>*/
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>