<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/m-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/m-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/allCompanyList}">企业注册管理</a></li>
				<li>填写企业表单</li>
			</ul>
			<!-- /BREADCRUMBS -->

			<!-- mainContentBox -->
			<div id="mainContentBox">
										
		
								<form id="companyForm" class="form-horizontal" method="post" action="#" th:action="@{/saveCompany}" th:object="${company}">
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="companyName">企业名称<span class="required">*</span></label> 
											 <div class="col-md-10">		
												<input id="companyName" type="text"  class="form-control col-md-12" th:field="*{companyName}"/> 	
												 <span class="error-span"></span>									
											 </div>
										  </div>
											  <div class="form-group">
											 <label class="col-md-2 control-label" for="f4">行政区域</label> 
											 <div class="col-md-10">		
												
												<select class="form-control" th:field="*{administrativeDivision.id}">
                                                  <option th:each="division : ${administrativeDivisions}" 
                                                     th:value="${division.id}" 
                                                     th:text="${division.division}">mmm</option>
                                                </select>									
											 </div>
										  </div>
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="f2">企业地址<span class="required">*</span></label> 
											 <div class="col-md-10">		
												<input type="text" id="f2" class="form-control col-md-12" th:field="*{address}"/> 										
											      <span class="error-span"></span>	
											 </div>
										  </div>
										  
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="f3">经度<span class="required">*</span></label> 
											 <div class="col-md-10">		
											  <input type="text" id="f3" class="form-control col-md-12" th:field="*{lng}"/> 
											   <span class="error-span"></span>	
											 </div>
										  </div>
										  	  <div class="form-group">
											 <label class="col-md-2 control-label" for="f5">纬度<span class="required">*</span></label> 
											 <div class="col-md-10">		
												<input type="text" id="f5" class="form-control col-md-12" th:field="*{lat}"/> 											
											     <span class="error-span"></span>	
											 </div>
										  </div>
										  
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="f6">隶属关系</label> 
											 <div class="col-md-10">		
												
												<select class="form-control" th:field="*{administrativeDic.id}">
                                                  <option th:each="administrative : ${administratives}" 
                                                     th:value="${administrative.id}" 
                                                     th:text="${administrative.administrative}">mmm</option>
                                                </select>									
											 </div>
										  </div>
										  
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="f7">行业类别</label> 
											 <div class="col-md-10">		
												<select class="form-control" th:field="*{industrySectorDic.id}">
                                                  <option th:each="industry : ${industries}" 
                                                     th:value="${industry.id}" 
                                                     th:text="${industry.industrySector}">mmm</option>
                                                </select>
																						
											 </div>
										  </div>
										  
										 <div class="form-group">
											 <label class="col-md-2 control-label" for="f8">关注程度</label> 
											 <div class="col-md-10">		
												<select class="form-control" th:field="*{concernDegreeDic.id}">
                                                  <option th:each="concernDegree : ${concernDegrees}" 
                                                     th:value="${concernDegree.id}" 
                                                     th:text="${concernDegree.concernDegree}">mmm</option>
                                                </select>										
											 </div>
										  </div>
										  
									 <div class="form-group">
											 <label class="col-md-2 control-label" for="f9">关联运维公司</label> 
											 <div class="col-md-10">		
												<select class="form-control" th:field="*{operationMaintanceCompany.id}">
                                                  <option th:each="om: ${oms}" 
                                                     th:value="${om.id}" 
                                                     th:text="${om.companyName}">mmm</option>
                                                </select>										
											 </div>
										  </div>
										  
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="f10">联系人</label> 
											 <div class="col-md-10">		
												<input type="text" id="f10" class="form-control col-md-12" th:field="*{usersByCreator.realName}" /> 										
											 </div>
										  </div>
										   
										 <div >
										  <div class="form-group">
											 <label class="col-md-2 control-label" for="f11">联系手机<span class="required">*</span></label> 
											 <div class="col-md-10">		
												<input type="text" id="f11" class="form-control col-md-12" th:field="*{usersByCreator.mobile}" th:readonly="${company.id}" /> 										
											     <span class="error-span"></span>	
											 </div>
										  </div>
										  </div>
										

								 <div class="form-group">
										
										<div class="col-md-2">
										</div>
										     <div class="col-md-3">
										      
										      <button class="btn btn-default" name="action" value="yes"><i class="fa fa-check"></i>保存</button>
										    
							                  <button id="_cancel" class="btn btn-default pull-right" name="action" value="no"><i class="fa fa-times"></i>取消</button>

										  </div>
										  </div>
										 
									
										  <input id="companyId" type="hidden" th:field="*{id}" /> 
										 
									   </form>
						
	
			</div>
			<!-- /mainContentBox -->
		
		</div>
		<!-- /maincontent -->
	</section>

    <div th:include="fragments/m-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("allCompanyList");
			App.init(); //Initialise plugins and elements
			CompanyForm.init();
			$("#_cancel").click(function(){
				$(window.location).attr('href', 'allCompanyList');
				//window.location = "www.baidu.com";
				//alert("wtf");
				//return false;
				});

		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>