<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/m-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/m-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
			</ul>
			<!-- /BREADCRUMBS -->
 
			<!-- mainContentBox -->
			<div id="mainContentBox">
			
			
						<!-- BOX -->
								<div class="box">
									<div class="box-title">
										<h4><i class="fa fa-book"></i>欢迎登陆环境应急系统平台</h4>
									</div>
									<div class="box-body">
									
									   <h4>产品介绍</h4>
									   <p>本系统平台主要用于企业进行环境物资申报和环境风险源申报以及环保局对这些信息的审核及董涛管理。该系统提供了一张图的方式供环保局进行风险源重点空间的实时监测及统计分析。</p>
									   <h4>用户约定</h4>
									   <p>该系统依赖百度地图API。</p>
									
									</div>
								</div>
								<!-- /BOX -->
			
			</div>
			<!-- /mainContentBox -->
		</div>
		<!-- /maincontent -->
	</section>
	<!--/PAGE -->
	
	<div th:include="fragments/m-layout :: footerFragment"></div>
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
			//App.setPage("widgets_box");  //Set current page ???
			App.init(); //Initialise plugins and elements
		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>