<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/m-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/m-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
			</ul>
			<!-- /BREADCRUMBS -->
 
			<!-- mainContentBox -->
			<div id="mainContentBox">
			
			
						<!-- BOX -->
								<div class="box">
									<div class="box-title">
										<h4><i class="fa fa-book"></i>欢迎登陆环境应急系统平台</h4>
									</div>
									<div class="box-body">
									
									   <h4>本平台业务目标</h4>
									   <p style="text-indent:2em;">基于现代计算机技术、3S技术、通讯技术、网络技术进行环境应急管理平台建设，达到突发环境事故应急管理的信息共享、统一资源、高效调度、决策支持的建设目标，实现事件处置知道怎么办，风险监控预警看得见，环境风险说得清三重目标，为环境风险源日常监管和环境突发事件构建重要的技术支撑平台。</p>
									   <p style="text-indent:2em;"><img src="../../static/img/eme.png" th:src="@{/img/eme.png}" height="300px" width="600px" /></p>
									   <h4>打造高标准的环境监控指挥中心</h4>
									   <p style="text-indent:2em;">环境监控指挥中心作为整个环境应急体系的指挥中枢，具有举足轻重的地位。整个监控指挥中心设计均高于国家建设标准，配备完备的展示、视频、音响、机房等配套系统。</p>
									   <h4>打造天地一体化的环境应急移动监控平台</h4>
									   <p style="text-indent:2em;">打造全方位的环境应急移动平台，着眼于目前应急领域新技术的应用，环境应急移动监控平台应充分考虑移动终端、便携监测设备、手机平板电脑移动平台、便携视频设备、应急车辆、无线通信等成熟技术。通过先进的网络、通信、3S技术实现整体应急体系的无缝对接，第一时间掌握应急现场情况，实现应急快速响应、精确监控监测、数据实时传输等功能。</p>
									   <h4>打构建统一的环境应急数据中心</h4>
									   <p style="text-indent:2em;">整合全省重大环境风险源、应急物资、救援物资、危化品等重要环境应急信息，并且与环境EGIS完美结合，实现环境专业分类图层展示。为环境应急工作打下坚实的数据基础，实现环境应急数据全面共享与统一调用。</p>
									   <h4>构建高效的专业应急监测平台</h4>
									   <p style="text-indent:2em;">搭建环境应急监测平台，将物联网技术与地理信息系统结合起来，实现事故现场的监测数据及时反馈至系统，系统能够与事故现场进行互动。通过规范和强化突发性环境污染事故应急监测工作，实现快速、高效、科学、有序和协调一致地进行环境应急监测，做到科学布点、快速采集、检验准确、反馈及时，最大限度的减少人员、财产损失和对生态环境破坏。</p>
									   <h4>构建一体化的环境应急综合管理平台</h4>
									   <p style="text-indent:2em;">建立一套功能高度集成化的环境应急综合管理平台，实现统一指挥调度、统一管理，达到省、市、区县、乡（镇）应急联动。基于环境应急数据中心，形成“一张图”式的应急管理模式。实现统一的用户管理，身份认证，实现统一的任务协调管理机制。平台涵盖重要的甚至所有的环境信息进行环境“一张图”式的业务分类专题图层展示，最终实现环境风险源可视化日常监管，全辖区的环境状况一览无余地展现于管理者面前，对全辖区进行全方位、无盲区的环境安全监管。通过该平台环境GIS扩散模型分析功能快速分析突发事件未来的变化趋势，为应急处置提供依据。</p>
									
									
									
									
									
									</div>
								</div>
								<!-- /BOX -->
			
			</div>
			<!-- /mainContentBox -->
		</div>
		<!-- /maincontent -->
	</section>
	<!--/PAGE -->
	
	<div th:include="fragments/m-layout :: footerFragment"></div>
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
			//App.setPage("widgets_box");  //Set current page ???
			App.init(); //Initialise plugins and elements
		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>