<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/map-layout :: headFragment">
<!-- <title id="pageTitle">空气质量监测专题</title>-->
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/map-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/map-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/map-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/mapAlert}">超标报警专题</a></li>
			</ul>
			<!-- /BREADCRUMBS -->

	
			<!-- mainContentBox -->
			<div id="mainContentBox">
				  <div class="gmaps" id="baidumap"></div>  
	              <div id="w" class="easyui-window" title="超标监测信息" data-options="left:800,top:54,minimizable:false">
				  <div class="easyui-panel" title="" style="width:440px;">
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>企业名称</th>
													<th>行政区域</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr  th:each="nc : ${companies}">
													<td th:text="${nc.companyName}">企业名称</td>
													<td th:text="${nc.administrativeDivision.division}">行政区域</td>								
													<td>
                                                    <a href="#" th:href="@{/alertInfo(companyId=${nc.id})}" target="_blank"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a th:href="'javascript:theLocation('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ');'"><i class="fa  fa-map-marker"></i><span>定位</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'学校\');'"><i class="fa"></i><span>🏫学校</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'医院\');'"><i class="fa"></i><span>🏥医院</span></a>
													</td>
												</tr>
									
											</tbody>
											
										</table>
								
								</div>
						
							</div>	  
			</div>
			<!-- /mainContentBox -->
		
		</div>
		<!-- /maincontent -->
	</section>

    <div th:include="fragments/map-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/map-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {	
			$('#w').window('collapse');
			App.setPage("mapAlert");  //Set current page 
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    var d = new Date();
	var c_date = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();     
    var map = new BMap.Map("baidumap");
    baiduMaps.init(map);
    addMapOverlay(-1000);//向地图添加覆盖物
    //定位
	function theLocation(sourceId,lng,lat){
		baiduMaps.theLocation(map,sourceId,lng,lat);
	}
    //本地查找
	function localSearch(sourceId,lng,lat,s){
		baiduMaps.localSearch(map,sourceId,lng,lat,s);
	}
	
	 function createInfoWindow(marker){
		 var content = '<fieldset> <div  class="panel">'+
							'<div title="" class="ddv panel-body panel-body-noheader panel-body-noborder" style="padding: 2px 0px; width: 100%;">'+
								'<style type="text/css">  .dv-table td{border:1px;text-align:center;padding:2px}.dv-label{font-weight:solid;color:#15428B;}</style>'+
								'<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">'+
									'<thead>'+
									    '<tr>'+
										'<th>监测时间</th>'+
										'<th>监测因子</th>'+
										'<th>正常值范围</th>'+
										'<th>超标值</th>'+
										'<th>短信通知</th>'+
									'</tr></thead>'+
									'<tbody>'+
									'<tr>'+
									'<td>'+c_date+' 00:00</td>'+
									'<td>总磷</td>'+
									'<td>0-100</td>'+
									'<td>136</td>'+
									'<td>已通知</td>'+
								     '</tr>'+
										'<tr>'+
										'<td>'+c_date+' 00:00</td>'+
										'<td>总氮</td>'+
										'<td>0-50</td>'+
										'<td>63</td>'+
										'<td>已通知</td>'+
									     '</tr>'+
											'<tr>'+
											'<td>'+c_date+' 00:00</td>'+
											'<td>PH值</td>'+
											'<td>6-10</td>'+
											'<td>3</td>'+
											'<td>已通知</td>'+
										     '</tr>'+
									'</tbody>'+
								'</table>'+
								
									'<a href="alertInfo?companyId='+marker.riskSourceInfo.companyId+'" target="_blank" style="width:120px">查看详细</a>'+
							'</div>'+
						'</div>'+
						'</fieldset>';
			var infoWindow = new BMapLib.SearchInfoWindow(map, content, {
				title: "超标源:" +marker.riskSourceInfo.companyName, //标题
				offset: new BMap.Size(0,7),
				width: 400,//宽度
				//height: 140, //高度
				panel : "panel", //检索结果面板
				enableAutoPan : true, //自动平移
				searchTypes :[
				]
			});
		return infoWindow;
	 }
    function addMapOverlay(sourceId){
        $.getCompanyMarkers(function(data){
                       var markers=data;
                         for(var index = 0; index < markers.length; index++ ){
                           var point = new BMap.Point(markers[index].point.lng,markers[index].point.lat);
                           var marker;
                           if(sourceId==markers[index].riskSourceInfo.companyId)
                        	 {
                                marker = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation-active.png",new BMap.Size(21,35),{
                                   imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                                 })});
                                var selectedWin=createInfoWindow(markers[index]);
                                selectedWin.open(point);
                        	 }
                           else
                        	   { 
                        	   marker  = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation.png",new BMap.Size(21,35),{
                                   imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                               })});
                        	   
                        	   }
                           
             
                   		  var searchInfoWindow=createInfoWindow(markers[index]);
                           baiduMaps.addClickHandler(marker,searchInfoWindow);
                           map.addOverlay(marker);
                         };
         });
         
    	

    }

   /*]]>*/
  </script>
	<!-- /JAVASCRIPTS -->
</body>
</html>