<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/map-layout :: headFragment">
<!-- <title id="pageTitle">空气质量监测专题</title>-->
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/map-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/map-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/map-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/mapAir}">空气质量专题</a></li>
			</ul>
			<!-- /BREADCRUMBS -->

			<!-- mainContentBox -->
			<div id="mainContentBox">
				   <div class="gmaps" id="baidumap"></div>
				  
			</div>
			<!-- /mainContentBox -->
		
		</div>
		<!-- /maincontent -->
	</section>

    <div th:include="fragments/map-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/map-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("mapAir");  //Set current page 
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script th:inline="javascript">
   /*<![CDATA[*/
              
    var map; 

    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapOverlay();//向地图添加覆盖物
	 
    }
    function createMap(){ 
      map = new BMap.Map("baidumap"); 
      $.getCenter(function(data){
          map.centerAndZoom(new BMap.Point(data.lng,data.lat),12);
       });
    }
	
    function setMapEvent(){
      map.enableDragging();
 
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        window.open(target.getPosition());
      });
    }
	
  
	//创建richMarker地图标注
	 function addMapOverlay(){
		
		   $.getDetectStationMarkers(function(data){
			   var markers =data;
				for (var i = 0; i < markers.length; i++) {
					   var point = new BMap.Point(markers[i].point.lng,
								markers[i].point.lat);
					 marker = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation-active.png",new BMap.Size(21,35),{
			             imageOffset: new BMap.Size(markers[i].imageOffset.width,markers[i].imageOffset.height)
			           })});
			         
					var searchInfoWindow=createInfoWindow(markers[i]);
				    addClickHandler(marker,searchInfoWindow);
					map.addOverlay(marker);//添加企业Marker标注

				}
			   
		   });

		
	 }
	   function addClickHandler(target,window){
		      target.addEventListener("click",function(){
		        window.open(target.getPosition());
		      });
		    }
	
	 function createInfoWindow(marker){
		 var content = '<table> <tr><td>API值:</td><td><label>104</label></td></tr><tr><td>首要污染物:</td><td><label>可吸入颗粒物</label></td></tr><tr><td>空气质量状况:</td><td><label>轻度污染</label></td></tr><tr><td>空气质量级别:</td><td><label>Ⅲ</label></td></tr><tr><td>二氧化硫（SO2）:</td><td><label>39μg/m3</label></td></tr><tr><td>二氧化氮:</td><td><label>78μg/m3</label></td></tr><tr><td>一氧化碳:</td><td><label>2.4mg/m3</label></td></tr><tr><td>臭氧:</td><td><label>132μg/m<sub>3</sub></label></td></tr></table>';
			var infoWindow = new BMapLib.SearchInfoWindow(map, content, {
				title: marker.title, //标题
				offset: new BMap.Size(0,30),
				width: 200,//宽度
				height: 200, //高度
				panel : "panel", //检索结果面板
				enableAutoPan : true, //自动平移
				searchTypes :[
				]
			});
		return infoWindow;
	 }
	 

	//初始化地图
    initMap();

   /*]]>*/
  </script>
	
	<!-- /JAVASCRIPTS -->
</body>
</html>