<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/map-layout :: headFragment">
<!-- <title id="pageTitle">空气质量监测专题</title>-->
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/map-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/map-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/map-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/mapAir}">空气质量专题</a></li>
			</ul>
			<!-- /BREADCRUMBS -->

			<!-- mainContentBox -->
			<div id="mainContentBox">
				   <div class="gmaps" id="baidumap"></div>
				   	  <div id="w" class="easyui-window" title="空气监测站信息" data-options="left:800,top:254,minimizable:false">
				         <div class="easyui-panel" title="" style="width:440px;">
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>监测站</th>
													<th>行政区域</th>
													<th>空气质量</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody th:each="nc : ${detectStations}">
												<tr>
													<td th:text="${nc.detectStationName}">名称</td>
													<td th:text="${nc.administrativeDivision.division}">行政区域</td>		
													<td style="background-color: #800080; color: white">重度污染</td>													
													<td>
													<a href="#" th:href="@{/aqiInfo(stationId=${nc.id})}" target="_blank"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a th:href="'javascript:theLocation('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ');'"><i class="fa  fa-map-marker"></i><span>定位</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'学校\');'"><i class="fa"></i><span>🏫学校</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'医院\');'"><i class="fa"></i><span>🏥医院</span></a>
													</td>
												</tr>
									
											</tbody>
											
										</table>
								
								</div>
							</div>	 
				  
			</div>
			<!-- /mainContentBox -->
		
		</div>
		<!-- /maincontent -->
	</section>

    <div th:include="fragments/map-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/map-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {	
			//$('#w').window('collapse');
			App.setPage("mapAir");  //Set current page 
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script th:inline="javascript">
   /*<![CDATA[*/
              
              
         // 用经纬度设置地图中心点
	function theLocation(sourceId,lng,lat){
			var new_point = new BMap.Point(lng,lat);
			map.panTo(new_point);   
			map.setZoom(13);
			map.clearOverlays(); 
			addMapOverlay(sourceId);
	}

	// Local search
	function localSearch(sourceId,lng,lat,s){
			var new_point = new BMap.Point(lng,lat);
			map.panTo(new_point);
			map.setZoom(13);
			map.clearOverlays(); 
			addMapOverlay(-1000);
			var circle = new BMap.Circle(new_point,5000,{fillColor:"blue", strokeWeight: 1 ,fillOpacity: 0.3, strokeOpacity: 0.3});
		    map.addOverlay(circle);
		    var local =  new BMap.LocalSearch(map, {renderOptions: {map: map, autoViewport: false}});  
		    local.searchNearby(s,new_point,5000);
	}
               

	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
	var mapType = new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP,BMAP_HYBRID_MAP]});
	var overView = new BMap.OverviewMapControl();
	var overViewOpen = new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT});

	function add_control(){
		map.addControl(top_left_control);        
		map.addControl(top_left_navigation);  
		map.addControl(mapType);    
		map.addControl(overView);          //添加默认缩略地图控件
		map.addControl(overViewOpen);      //右下角，打开
	}
              
              
    var map; 
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      add_control();
      setMapEvent();//设置地图事件
      addMapOverlay(-1000);//向地图添加覆盖物
	 
    }
    function createMap(){ 
      map = new BMap.Map("baidumap"); 
      $.getCenter(function(data){
          map.centerAndZoom(new BMap.Point(data.lng,data.lat),12);
       });
    }
	
    function setMapEvent(){
      map.enableDragging();
 
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        window.open(target.getPosition());
      });
    }
	
  
	//创建richMarker地图标注
	 function addMapOverlay(detectStationId){
		
		   $.getDetectStationMarkers(function(data){
			   var markers =data;
				for (var i = 0; i < markers.length; i++) {
					var marker;
					   var point = new BMap.Point(markers[i].point.lng,
								markers[i].point.lat);
					    if(detectStationId==markers[i].stationId)
                   	 {
                           marker = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation-active.png",new BMap.Size(21,35),{
                              imageOffset: new BMap.Size(markers[i].imageOffset.width,markers[i].imageOffset.height)
                            })});
                           var selectedWin=createInfoWindow(markers[i]);
                           selectedWin.open(point);
                   	 }
					    else
					    	{
							 marker = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation.png",new BMap.Size(21,35),{
					             imageOffset: new BMap.Size(markers[i].imageOffset.width,markers[i].imageOffset.height)
					           })});
					         
					    	}

					var searchInfoWindow=createInfoWindow(markers[i]);
				    addClickHandler(marker,searchInfoWindow);
					map.addOverlay(marker);//添加企业Marker标注

				}
			   
		   });

		
	 }
	   function addClickHandler(target,window){
		      target.addEventListener("click",function(){
		        window.open(target.getPosition());
		      });
		    }
	

	 function createInfoWindow(marker){
		 var content = '<fieldset> <div  class="panel">'+
							'<div title="" class="ddv panel-body panel-body-noheader panel-body-noborder" style="padding: 2px 0px; width: 100%;">'+
								'<style type="text/css">  .dv-table td{border:1px;text-align:center;padding:2px}.dv-label{font-weight:solid;color:#15428B;}</style>'+
								'<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">'+
									'<tbody>'+					
										'<tr>'+
											'<td class="dv-label">AQI:</td>'+
											'<td>45</td>'+
											'<td class="dv-label">首要污染物:</td>'+
											'<td>'+'PM<sub>2.5</sub>'+'</td>'+
										'</tr>'+
										'<tr>'+
											'<td class="dv-label">空气质量状况</td>'+
											'<td>'+'良'+'</td>'+
											'<td class="dv-label">空气质量级别</td>'+
											'<td>'+'II'+'</td>'+
										'</tr>'+
										'<tr>'+
										'<td class="dv-label">二氧化硫(SO<sub>2</sub>)</td>'+
										'<td>'+'39μg/m<sup>3</sup>'+'</td>'+
										'<td class="dv-label">二氧化氮(SO<sub>2</sub>)</td>'+
										'<td>'+'58μg/m<sup>3</sup>'+'</td>'+
									'</tr>'+
									'<tr>'+
									'<td class="dv-label">一氧化碳(CO)</td>'+
									'<td>'+'69mg/m<sup>3</sup>'+'</td>'+
									'<td class="dv-label">臭氧(O<sub>3</sub>)</td>'+
									'<td>'+'58μg/m<sup>3</sup>'+'</td>'+
								'</tr>'+
								'<tr>'+
								'<td class="dv-label">PM<sub>10</sub></td>'+
								'<td>'+'69μg/m<sup>3</sup>'+'</td>'+
								'<td class="dv-label">PM<sub>2.5</sub></td>'+
								'<td>'+'58μg/m<sup>3</sup>'+'</td>'+
							'</tr>'+
									
									'</tbody>'+
								'</table>'+
								'<a href="aqiInfo?stationId='+marker.stationId+'" target="_blank">查看详细</a>'+
							'</div>'+
						'</div>'+
						'</fieldset>';
			var infoWindow = new BMapLib.SearchInfoWindow(map, content, {
				title: marker.title, //标题
				offset: new BMap.Size(0,7),
				width: 350,//宽度
				height: 220, //高度
				panel : "panel", //检索结果面板
				enableAutoPan : true, //自动平移
				searchTypes :[
				]
			});
		return infoWindow;
	 }
	 
	 
	 
	 
	 
	 

	//初始化地图
    initMap();

   /*]]>*/
  </script>
	
	<!-- /JAVASCRIPTS -->
</body>
</html>