<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/map-layout :: headFragment">
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/map-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/map-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/map-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/mapRiskSource}">风险源分布专题</a></li>
			</ul>
			<!-- /BREADCRUMBS -->

			<!-- mainContentBox -->
			<div id="mainContentBox">
				  <div class="gmaps" id="baidumap"></div>  
	              <div id="w" class="easyui-window" title="风险源信息" data-options="left:800,top:54,minimizable:false">
				  <div class="easyui-panel" title="" style="width:440px;">
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>风险源</th>
													<th>行政区域</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr  th:each="nc : ${riskSources}">
													<td th:text="${nc.riskName}">企业名称</td>
													<td th:text="${nc.company.administrativeDivision.division}">行政区域</td>								
													<td>
													<a href="#" th:href="@{/riskSourceInfo(riskSourceId=${nc.id})}" target="_blank"><i class="fa  fa-file-text-o"></i><span>详细</span></a>
													<a th:href="'javascript:theLocation('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ');'"><i class="fa  fa-map-marker"></i><span>定位</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'学校\');'"><i class="fa"></i><span>🏫学校</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'医院\');'"><i class="fa"></i><span>🏥医院</span></a>
													</td>
												</tr>
									
											</tbody>
											
										</table>
								
								</div>
						
							</div>	  
							
					<!-- 
					 <div id="w1" class="easyui-window" title="周边敏感点" data-options="left:800,top:200,minimizable:false">	
						 <div class="easyui-panel" title="" style="width:440px;">
										<table id="mingandian" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>敏感点</th>
													<th>坐标</th>
													<th>类型</th>
													<th>手机</th>
												</tr>
											</thead>
											<tbody>
				
											</tbody>
											
										</table>
								
								</div>
						
							</div>
						 -->			
							
			</div>
			<!-- /mainContentBox -->
		
		</div>
		<!-- /maincontent -->
	</section>

    <div th:include="fragments/map-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/map-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
			$('#w').window('collapse');
			App.setPage("mapRiskSource");  //Set current page 
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script th:inline="javascript">
    /*<![CDATA[*/
                        
   function formatData(strVal) {
         if (strVal == '' || strVal == null || strVal == undefined) {
          return '';
          } else {
        return strVal;
       }
    }         
    
   function useDefaultUrl(strVal) {
       if (strVal == '' || strVal == null || strVal == undefined) {
        return 'img/emematerial.jpg';
        } else {
      return strVal;
     }
  } 
    
    
   var map = new BMap.Map("baidumap");
    baiduMaps.init(map);
    addMapOverlay(-1000);//向地图添加覆盖物
    
	var options = {
			renderOptions: {
				map: map,
				autoViewport: false
			},
			onSearchComplete: function(results) {
			//	alert('检索周边应急物资完毕');
		/*
				var list= new Array();
				for (var i = 0; i < results.getCurrentNumPois(); i ++){ 
				    list[i]=results.getPoi(i).title + ", " + results.getPoi(i).address;
				    alert(list[i]);
				}
				*/
		   //alert(JSON.stringify(results));
	
			},
			onInfoHtmlSet:function(localResultPoi){
				//   alert(JSON.stringify(localResultPoi));
			}
		};
	var local = new BMap.LocalSearch(map, options);
	
	var drawingManager = new BMapLib.DrawingManager(map, {
		isOpen: false, //是否开启绘制模式
		enableDrawingTool: true, //是否显示工具栏
		drawingToolOptions: {
			anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
			offset: new BMap.Size(100, 10), //偏离值
			scale: 0.5, //工具栏缩放比例
			drawingModes: [
				BMAP_DRAWING_CIRCLE
			]
		}
	});

	drawingManager.addEventListener('circlecomplete', function(e, overlay) {
	    map.clearOverlays();
		//map.addOverlay(overlay);		
		var radius = parseInt(e.getRadius());
		var center = e.getCenter();
		drawingManager.close();
		
		
		//alert('center: ' +center.lng+'  ,lat:' + center.lat +' , radius: ' + radius);
		//local.searchNearby('应急物资', center, radius, {
		//	customData: {
		//		geotableId:136668
		//	}
		//});
		
// 'geotable_id': 136668,
		  var url = "http://api.map.baidu.com/geosearch/v3/nearby?callback=?";
	        $.getJSON(url, {
	            'geotable_id': 136970,
	            'radius':radius,
	            'page_size':50,
	            'location':''+center.lng+','+center.lat+'',
	             'ak'         : 'ovW97sIaF51o5ADwMGOq4Oza'  //用户ak
	        },function(e) {
	            var content = e.contents;
	            map.addOverlay(overlay);	
	            if (content.length == 0) {
	             //   $('#mapList').append($('<p style="border-top:1px solid #DDDDDD;padding-top:10px;text-align:center;text-align:center;font-size:18px;" class="text-warning">抱歉，没有找到您想要的短租信息，请重新查询</p>'));
	                alert("附件没有敏感点");
	             return;
	            }

	        	 $.each(content, function(i, item){
	                 var point = new BMap.Point(item.location[0], item.location[1]);
	                //  marker = new BMap.Marker(point);
	                // alert(item.envclass);
	               var myIcon = new BMap.Icon("img/mingandian/"+item.envclass+".png", new BMap.Size(23, 25), {    
	                	// 指定定位位置。   
	                	// 当标注显示在地图上时，其所指向的地理位置距离图标左上    
	                	// 角各偏移10像素和25像素。您可以看到在本例中该位置即是   
	                	   // 图标中央下端的尖角位置。    
	                	   offset: new BMap.Size(10, 25),    
	                	   // 设置图片偏移。   
	                	   // 当您需要从一幅较大的图片中截取某部分作为标注图标时，您   
	                	   // 需要指定大图的偏移位置，此做法与css sprites技术类似。    
	                	   imageOffset: new BMap.Size(0, 3)   // 设置图片偏移    
	                	 });  

	                var marker = new BMap.Marker(point, {icon: myIcon});  
	                marker.addEventListener('click', showInfo);
	                 function showInfo() {
	                     var content = "<img src='" + useDefaultUrl(item.mainimage) + "' style='width:111px;height:133px;float:left;margin-right:5px;'/>" +
	                                   "<p>名称：" + item.title + "</p>" +
	                                   "<p>经纬度：" + item.location[0]+"," + item.location[1] + "</p>" +
	                                   "<p>环境类型：" + item.envtype + "</p>"+
	                                   "<p>手机：" + formatData(item.emobile) + "</p>";
	                     //创建检索信息窗口对象
	                     var searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
	                         title  : item.title,       //标题
	                         width  : 390,             //宽度
	                         panel  : "panel",         //检索结果面板
	                         enableAutoPan : true,     //自动平移
	                         searchTypes   :[]
	                     });
	                     searchInfoWindow.open(marker);
	                 };

	             	var label = new BMap.Label(item.title,{offset:new BMap.Size(20,5)});     	
	             	label.setStyle({ 
	             		backgroundColor :"0.05",
	             		border :"0", 
	             		});

	            	marker.setLabel(label);
	            	  map.addOverlay(marker);
	             });
	            
	        });
       
	});
    
    
    
    
    //定位
	function theLocation(sourceId,lng,lat){
		baiduMaps.theLocation(map,sourceId,lng,lat);
	}
    //本地查找
	function localSearch(sourceId,lng,lat,s){
		baiduMaps.localSearch(map,sourceId,lng,lat,s);
	}
	
	 function createInfoWindow(marker){
		 var content = '<div  class="panel">'+
							'<div title="" class="ddv panel-body panel-body-noheader panel-body-noborder" style="padding: 2px 0px; width: 100%;">'+
								'<style type="text/css">  .dv-table td{border:1px;text-align:center;padding:2px}.dv-label{font-weight:solid;color:#15428B;}</style>'+
								'<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">'+
									'<tbody>'+
										'<tr>'+
											'<td class="dv-label">企业名称:</td>'+
											'<td>'+marker.riskSourceInfo.companyName+'</td>'+
											'<td class="dv-label">行政区域:</td>'+
											'<td>'+marker.riskSourceInfo.divsion+'</td>'+
										'</tr>'+
										'<tr>'+
											'<td class="dv-label">风险等级:</td>'+
											'<td>'+marker.riskSourceInfo.lvl+'</td>'+
											'<td class="dv-label">是否预案:</td>'+
											'<td>'+marker.riskSourceInfo.riskAversion+'</td>'+
										'</tr>'+
										'<tr>'+
											'<td class="dv-label">应急人员</td>'+
											'<td>'+marker.riskSourceInfo.emePersion+'</td>'+
											'<td class="dv-label">应急电话</td>'+
											'<td>'+marker.riskSourceInfo.emeTel+'</td>'+
										'</tr>'+
									'</tbody>'+
								'</table><a href="riskSourceInfo?riskSourceId='+marker.riskSourceInfo.id+'"target="_blank">查看详细信息</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://qofo360.com/0web/qzxy/index.html" target="_blank">查看全景地图</a>'
							'</div>'+
						'</div>';
			var infoWindow = new BMapLib.SearchInfoWindow(map, content, {
				title: marker.title, //标题
				offset: new BMap.Size(0,7),
				width: 430,//宽度
				height: 150, //高度
				panel : "panel", //检索结果面板
				enableAutoPan : true, //自动平移
				searchTypes :[
				]
			});
		return infoWindow;
	 }
    function addMapOverlay(sourceId){
        $.getRiskSourcesMarkers(function(data){
                       var markers=data;
                         for(var index = 0; index < markers.length; index++ ){
                           var point = new BMap.Point(markers[index].point.lng,markers[index].point.lat);
                         //  var selectedmarker;
                           var marker;
                           if(sourceId==markers[index].riskSourceInfo.id)
                        	 {
                                marker = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation-active.png",new BMap.Size(21,35),{
                                   imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                                 })});
                                var selectedWin=createInfoWindow(markers[index]);
                                selectedWin.open(point);
                        	 }
                           else
                        	   { 
                        	   marker  = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation.png",new BMap.Size(21,35),{
                                   imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                               })});
                        	   
                        	   }
                           
             
                           
                   		  var searchInfoWindow=createInfoWindow(markers[index]);
                   	 	  baiduMaps.addClickHandler(marker,searchInfoWindow);
                          map.addOverlay(marker);

                          //var label = new BMap.Label(markers[index].riskSourceInfo.companyName,{offset:new BMap.Size(20,-10)});
                   	     // marker.setLabel(label);
                         };
         });
         
    	

    }

   /*]]>*/
  </script>
	
	<!-- /JAVASCRIPTS -->
</body>
</html>