<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/map-layout :: headFragment">
<!-- <title id="pageTitle">空气质量监测专题</title>-->
</head>
<body>
	<!-- HEADER -->
	<header class="navbar clearfix navbar-fixed-top" id="header"
		th:include="fragments/map-layout :: headerFragment"> </header>
	<!--/HEADER -->

	<!-- PAGE -->
	<section id="page">
		<!-- SIDEBAR -->
		<div id="sidebar" class="sidebar"
			th:include="fragments/map-layout :: sidebarFragment"></div>
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/map-layout :: main-contentFragment">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb" id="BREADCRUMBS">
				<li><i class="fa fa-home"></i> <a href="index.html"  th:href="@{/}">主界面</a></li>
				<li><a href="#"  th:href="@{/mapVOCs}">挥发性有机物(VOCs)专题</a></li>
			</ul>
			<!-- /BREADCRUMBS -->

	
			<!-- mainContentBox -->
			<div id="mainContentBox">
				  <div class="gmaps" id="baidumap"></div>  
				  <!-- 
				  <div class="alert alert-block alert-warning fade in">
					<p><i class="fa fa-exclamation-circle"></i>南通励城生物工程有限公司： 氯化氢，苯，非甲烷总烃超标， 监测时间 2016-3-8 14:00， 系统已经通知相关责任人</p>
				    <p><i class="fa fa-exclamation-circle"></i>南通星辰合成材料有限公司： 苯，非甲烷总烃超标， 监测时间 2016-3-8 14:00， 系统已经通知相关责任人</p>
				  </div>
				  -->
	              <div id="w" class="easyui-window" title="厂区VOCs监测信息" data-options="left:800,top:54,minimizable:false">
				  <div class="easyui-panel" title="" style="width:440px;">
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>企业名称</th>
													<th>行政区域</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr  th:each="nc : ${companies}">
													<td th:text="${nc.companyName}">企业名称</td>
													<td th:text="${nc.administrativeDivision.division}">行政区域</td>								
													<td>
													<a th:href="'javascript:theLocation('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ');'"><i class="fa  fa-map-marker"></i><span>定位</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'学校\');'"><i class="fa"></i><span>🏫学校</span></a>
													<a th:href="'javascript:localSearch('+${nc.id}+','+${nc.lng} + ',' +${nc.lat} + ',\'医院\');'"><i class="fa"></i><span>🏥医院</span></a>
													</td>
												</tr>
									
											</tbody>
											
										</table>
								
								</div>
						
							</div>	  
			</div>
			<!-- /mainContentBox -->
		
		</div>
		<!-- /maincontent -->
	</section>

    <div th:include="fragments/map-layout :: footerFragment"></div>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/map-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {	
			$('#w').window('collapse');
			App.setPage("mapVOCs");  //Set current page 
			App.init(); //Initialise plugins and elements
		});
	</script>
	<script th:inline="javascript">
    /*<![CDATA[*/
    var d = new Date();
	var c_date = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate();                
    var map = new BMap.Map("baidumap");
    baiduMaps.init(map);
    addMapOverlay(-1000);//向地图添加覆盖物
    //定位
	function theLocation(sourceId,lng,lat){
		baiduMaps.theLocation(map,sourceId,lng,lat);
	}
    //本地查找
	function localSearch(sourceId,lng,lat,s){
		baiduMaps.localSearch(map,sourceId,lng,lat,s);
    }
	 function createInfoWindow(marker){
		 var content = '<fieldset> <div  class="panel">'+
							'<div title="" class="ddv panel-body panel-body-noheader panel-body-noborder" style="padding: 2px 0px; width: 100%;">'+
								'<style type="text/css">  .dv-table td{border:1px;text-align:center;padding:2px}.dv-label{font-weight:solid;color:#15428B;}</style>'+
								'<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">'+
									'<thead>'+
									    '<tr>'+
										'<th>监测时间</th>'+
										'<th>污染项目</th>'+
										'<th>监测值</th>'+
										'<th>限值</th>'+
										'<th>超标</th>'+
									'</tr></thead>'+
									'<tbody>'+
									'<tr>'+
									'<td>'+c_date+' 00:00</td>'+
									'<td>颗粒物</td>'+
									'<td>0.2</td>'+
									'<td>0.5</td>'+
									'<td><span class="label label-success label-sm">未超标</span></td>'+
								     '</tr>'+
										'<tr>'+
										'<td>'+c_date+' 00:00</td>'+
										'<td>氯化氢</td>'+
										'<td>0.2</td>'+
										'<td>0.15</td>'+
										'<td><span class="label label-danger label-sm">超标</span></td>'+
									     '</tr>'+
											'<tr>'+
											'<td>'+c_date+' 00:00</td>'+
											'<td>甲苯</td>'+
											'<td>0.1</td>'+
											'<td>0.05</td>'+
											'<td><span class="label label-success label-sm">未超标</span></td>'+
										     '</tr>'+
										 	'<tr>'+
											'<td>'+c_date+' 00:00</td>'+
											'<td>二甲苯</td>'+
											'<td>0.3</td>'+
											'<td>0.2</td>'+
											'<td><span class="label label-danger label-sm">超标</span></td>'+
										     '</tr>'+
										 	'<tr>'+
											'<td>'+c_date+' 00:00</td>'+
											'<td>非甲烷总烃</td>'+
											'<td>13</td>'+
											'<td>4</td>'+
											'<td><span class="label label-danger label-sm">超标</span></td>'+
										     '</tr>'+
										 	'<tr>'+
											'<td>'+c_date+' 00:00</td>'+
											'<td>铅及其化合物</td>'+
											'<td>0.0004</td>'+
											'<td>0.006</td>'+
											'<td><span class="label label-success label-sm">未超标</span></td>'+
										     '</tr>'+
											 	'<tr>'+
												'<td>'+c_date+' 00:00</td>'+
												'<td>汞及其化合物</td>'+
												'<td>0.0001</td>'+
												'<td>0.0003</td>'+
												'<td><span class="label label-success label-sm">未超标</span></td>'+
											     '</tr>'+
										 
									'</tbody>'+
								'</table>'+
								'<a href="vocsInfo?companyId='+marker.riskSourceInfo.companyId+'" target="_blank" style="width:120px">查看详细</a>'+
							'</div>'+
						'</div>'+
						'</fieldset>';
			var infoWindow = new BMapLib.SearchInfoWindow(map, content, {
				title: "厂区VOCs:" +marker.riskSourceInfo.companyName, //标题
				offset: new BMap.Size(0,7),
				width: 400,//宽度
				//height: 140, //高度
				panel : "panel", //检索结果面板
				enableAutoPan : true, //自动平移
				searchTypes :[
				]
			});
		return infoWindow;
	 }
    function addMapOverlay(sourceId){
        $.getCompanyMarkers(function(data){
                       var markers=data;
                         for(var index = 0; index < markers.length; index++ ){
                           var point = new BMap.Point(markers[index].point.lng,markers[index].point.lat);
                           var marker;
                           if(sourceId==markers[index].riskSourceInfo.companyId)
                        	 {
                                marker = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation-active.png",new BMap.Size(21,35),{
                                   imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                                 })});
                                var selectedWin=createInfoWindow(markers[index]);
                                selectedWin.open(point);
                        	 }
                           else
                        	   { 
                        	   marker  = new BMap.Marker(point,{icon:new BMap.Icon("img/mapimg/waterstation.png",new BMap.Size(21,35),{
                                   imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                               })});
                        	   
                        	   }
                           
             
                   		  var searchInfoWindow=createInfoWindow(markers[index]);
                           baiduMaps.addClickHandler(marker,searchInfoWindow);
                           map.addOverlay(marker);
                         };
         });
         
    }

   /*]]>*/
  </script>
	<!-- /JAVASCRIPTS -->
</body>
</html>