<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello React</title>
    <script type="text/javascript" src="js/react/react.js"></script>
    <script type="text/javascript" src="js/react/showdown.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>
<div id="content" th:utext="${content}"></div>
<script type="text/javascript" src="js/react/commentBox.js"></script>
<script type="text/javascript">
  /*<![CDATA[*/
    $(function () {
        renderClient(/*[[${data}]]*/);
    });
    /*]]>*/
</script>
</body>
</html>