<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/m-layout :: headFragment">
</head>
<body>


	<!-- PAGE -->
	<section id="page">
		
		<!-- /SIDEBAR -->
		<!-- maincontent -->
		<div id="main-content"
			th:include="fragments/m-layout :: main-contentFragment">
			

			<!-- mainContentBox -->
			<div id="mainContentBox">
		      
		      	<div class="box border">
				<div class="box-title">
					<h4>
						<i class="fa fa-calendar"></i>风险源信息表
					</h4>
				</div>
				<div class="box-body"> 
				  
				   <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped  table-hover">
				    		<thead style="height: 1px;">
												<tr>
													<th style="width: 10%"></th>
													<th style="width: 40%"></th>
													<th style="width: 10%"></th>
													<th style="width: 40%"></th>
												</tr>
							</thead> 
				    <tr><td>创建时间:</td><td  th:text="${riskSource.creationDate}">2009</td><td>单位名称:</td><td th:text="${riskSource.companyName}">单位名称</td></tr>
				    <tr><td>机构代码:</td><td th:text="${riskSource.riskBasicInfo.registrationCode}"></td><td>营业执照:</td><td th:text="${riskSource.riskBasicInfo.licenseCode}"></td></tr>
				    <tr><td>法人代表:</td><td th:text="${riskSource.riskBasicInfo.corporation}"></td><td>法人传真:</td><td th:text="${riskSource.riskBasicInfo.corporationFax}"></td></tr>
				    <tr><td>行政区域:</td><td th:text="${riskSource.administrativeDivision.division}"></td><td>单位地址:</td><td th:text="${riskSource.address}"></td></tr>
				    <tr><td>经度:</td><td th:text="${riskSource.lng}">></td><td>纬度:</td><td th:text="${riskSource.lat}">></td></tr>
				   </table>
				   
				   <div th:if="${riskSource.housePlan!=null}">
				     <h4>单位平面图:</h4>
				    <!--  <img th:src="@{/img/proj/}+${riskSource.housePlan.fileName}" width="100%" height="300px"/>-->
				        <img th:src="@{/getimage/}+${riskSource.housePlan.fileName}" width="100%" height="300px"/>
				   </div>
				  
				    <div th:if="!${#lists.isEmpty(riskSource.chemicalMaterials)}">
				     <h4>产品及原料:</h4>
			         <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>产品名称</th>
													<th>化学名</th>
													<th>CAS号</th>
													<th>物理状态</th>
													<th>是否危化品</th>
													<th>物质分类</th>
													<th>存储量</th>
													<th>设备状态</th>
													<th>生产方式</th>
												</tr>
											</thead>               
										    
											<tbody>
												<tr  th:each="cm : ${riskSource.chemicalMaterials}">
													<td th:text="${cm.materialName}"></td>
													<td th:text="${cm.chemicalName}"></td>
													<td th:text="${cm.cas}"></td>
													<td th:text="${cm.physicalState.physicalState}"></td>
													<td th:text="${cm.isHazardous}"></td>
													<td th:text="${cm.materialCategory.materialCategory}"></td>
													<td th:text="${cm.quantity}+(吨)"></td>
													<td th:text="${cm.equipmentState.equipmentState}"></td>
													<td th:text="${cm.productionMode.productionMode}"></td>
													
												</tr>
									
											</tbody>
											
										</table>
				     
				   </div>
				   
				   
				   
				   
				   
				    <div th:if="!${#lists.isEmpty(riskSource.workmanships)}">
				     <h4>生产工艺:</h4>
			         <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>工艺标题</th>
													<th>描述</th>
													<th>附件</th>
													
												</tr>
											</thead>               
										    
											<tbody>
												<tr  th:each="wm : ${riskSource.workmanships}">
													<td th:text="${wm.title}"></td>
													<td th:text="${wm.description}"></td>
													<td>
													<a href="#" th:href="@{/img/proj/}+${wm.fileName}" target="_blank"><i class="fa  fa-cloud-download"></i><span>下载生产工艺</span></a>
													</td>		
												</tr>
											</tbody>
											
										</table>
				     
				        </div>
				   
				   
				  <div th:if="!${#lists.isEmpty(riskSource.riskAversions)}">
				     <h4>风险防范措施:</h4>
			         <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>防控类别</th>
													<th>标题</th>
													<th>环评单位</th>
													<th>环评验收人</th>
													<th>文件</th>
													
												</tr>
											</thead>               
										    
											<tbody>
												<tr  th:each="ra : ${riskSource.riskAversions}">
													<td th:text="${ra.riskAversionType.riskAversionType}"></td>
													<td th:text="${ra.remark}"></td>
													<td th:text="${ra.auditOrg}"></td>
													<td th:text="${ra.auditor}"></td>
													<td>
													<a href="#" th:href="@{/img/proj/}+${ra.fileName}" target="_blank"><i class="fa  fa-cloud-download"></i><span>下载防控措施文件</span></a>
													</td>		
												</tr>
											</tbody>
											
										</table>
				     
				        </div>
				   
				   
				   
				   
				   
				     <div th:if="!${#lists.isEmpty(riskSource.emergencyMaterials)}">
				     <h4>应急物资:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>物资名称</th>
													<th>数量</th>
													<th>设备类型</th>
													<th>存放地址</th>
													<th>联系手机</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="nce : ${riskSource.emergencyMaterials}">
													<td th:text="${nce.materialName}">物资名称</td>
													<td th:text="${nce.quantity}">数量</td>
													<td th:text="${nce.equipmentType.equipmentType}">设备类型</td>
													<td th:text="${nce.address}"></td>
													<td th:text="${nce.mobile}"></td>
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
				   
				      
				     <div th:if="!${#lists.isEmpty(riskSource.companyWaterEnvs)}">
				     <h4>周边水环境:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>保护目标名称</th>
													<th>方位</th>
													<th>距离</th>
													<th>水环境类别</th>
													<th>功能区</th>
													<th>水环境联系人</th>
													<th>水环境联系手机</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="cw : ${riskSource.companyWaterEnvs}">
													<td th:text="${cw.waterEnv.waterEnvName}"></td>
													<td th:text="${cw.location}"></td>
													<td th:text="${cw.distance}"></td>
													<td th:text="${cw.waterEnv.waterEnvType.waterEnvType}"></td>
													<td th:text="${cw.waterEnv.envFunc.envFunc}"></td>
													<td th:text="${cw.waterEnv.emePerson}"></td>
													<td th:text="${cw.waterEnv.emeMobile}"></td>
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
				   
				   
				    <div th:if="!${#lists.isEmpty(riskSource.companyAirEnvs)}">
				     <h4>周边气环境:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>保护目标名称</th>
													<th>方位</th>
													<th>距离</th>
													<th>气环境类别</th>
													<th>功能区</th>
													<th>气环境联系人</th>
													<th>气环境联系手机</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr th:each="ca : ${riskSource.companyAirEnvs}">
													<td th:text="${ca.airEnv.airEnvName}"></td>
													<td th:text="${ca.locationDic.location}"></td>
													<td th:text="${ca.distance}"></td>
													<td th:text="${ca.airEnv.airEnvType.airEnvType}"></td>
													<td th:text="${ca.airEnv.envFunc.envFunc}"></td>
													<td th:text="${ca.airEnv.emePerson}"></td>
													<td th:text="${ca.airEnv.emeMobile}"></td>
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
				   
				   
				   
				   
				  <div th:if="!${#lists.isEmpty(riskSource.emergencyResponsePlans)}">
				     <h4>企业预案:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>标题</th>
													<th>预案类型</th>
													<th>备案登记号</th>
													<th>备案登记部门</th>
													<th>备案时间</th>
													<th>预案内容</th>
													
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="er : ${riskSource.emergencyResponsePlans}">
													<td th:text="${er.title}"></td>
													<td th:text="${er.emergencyReponsePlanType.emergencyResponsePlanType}"></td>
													<td th:text="${er.registCode}"></td>
													<td th:text="${er.epb.epbName}"></td>
													<td th:text="${er.creationDate}"></td>
												  <td>
													<a href="#" th:href="@{/img/proj/}+${er.fileName}" target="_blank"><i class="fa  fa-cloud-download"></i><span>下载预案内容</span></a>
													</td>
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
				   
				   
				   
				   
				   	<div th:if="!${#lists.isEmpty(riskSource.warehouseRisks)}">
				     <h4>仓库风险:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>仓库名称</th>
													<th>面积</th>
													<th>存储方式</th>
													<th>产品名称</th>
													<th>产品存储量</th>
													<th>更新时间</th>
													
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="wr : ${riskSource.warehouseRisks}">
													<td th:text="${wr.warehouseName}"></td>
													<td th:text="${wr.area}"></td>
													<td th:text="${wr.storageMethod.storageMethod}"></td>
													<td th:text="${wr.materialName}"></td>
													<td th:text="${wr.volume}"></td>
													<td th:text="${wr.lastModified}"></td>
												  
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
				   
				   
				   	<div th:if="!${#lists.isEmpty(riskSource.equipmentRisks)}">
				     <h4>设备风险:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>设备名称</th>
													<th>品牌</th>
													<th>安装时间</th>
													<th>使用寿命</th>
													<th>设备型号</th>
													<th>主要风险</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="wr : ${riskSource.equipmentRisks}">
													<td th:text="${wr.equipmentName}"></td>
													<td th:text="${wr.brand}"></td>
													<td th:text="${wr.installDate}"></td>
													<td th:text="${wr.lifetime}"></td>
													<td th:text="${wr.equipmentModel}"></td>
													<td th:text="${wr.riskDes}"></td>
												  
													
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				   
				   	   
				   
				   	<div th:if="!${#lists.isEmpty(riskSource.envProtPersons)}">
				     <h4>环保人员:</h4>
										<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
											<thead>
												<tr>	
													<th>姓名</th>
													<th>性别</th>
													<th>职务</th>
													<th>出生年月</th>
													<th>手机</th>
													<th>固定电话</th>
													<th>专业</th>
													<th>职称</th>
												</tr>
											</thead>               
										   
										
											<tbody>
												<tr  th:each="wr : ${riskSource.envProtPersons}">
													<td th:text="${wr.realName}"></td>
													<td th:text="${wr.gender}"></td>
													<td th:text="${wr.position}"></td>
												
													<td th:text="${wr.birth}"></td>
													<td th:text="${wr.mobile}"></td>
													<td th:text="${wr.tel}"></td>
													<td th:text="${wr.major}"></td>
													<td th:text="${wr.title}"></td>
												</tr>
									
											</tbody>
											
										</table>
				        </div>
				      
				</div>
				
				
				<form class="form-horizontal" method="post" action="#" >
							  <div class="form-group">
											 <label class="col-md-2 control-label" for="f9">系统计算风险级别</label> 
											 <div class="col-md-10">		
												<input type="text" id="f9" class="form-control col-md-12" th:value="${riskSource.lvl}" disabled="disabled"/> 										
											 </div>
										  </div>
		       </form>
										
				</div>	
		      
		    </div>					
		     <!-- /maincontent -->
		   </div>
	</section>

	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<div th:include="fragments/m-layout :: jsFragment"></div>
	<script>
		jQuery(document).ready(function() {		
			App.setPage("riskSourceList");
			App.init(); //Initialise plugins and elements
			App.handleTables();
		});
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>