<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>视频监控</title>
	<link rel="stylesheet" type="text/css" href="themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="themes/icon.css">
	<link rel="stylesheet" type="text/css" href="demo.css">
	<script src="assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="jquery.easyui.min.js"></script>
	<style type="text/css">
	body{
		margin:2px;
		padding:0px;
	}
	</style>
</head>
<body>
		<div class="easyui-tabs" data-options="tabWidth:100,tabHeight:60" style="width:100%;height:auto;border:1px solid gray">
			<div title="<span class='tt-inner'><img src='themes/icons/monitor.png'/><br>通道1</span>" style="height:auto;padding:5px">
				<video src="movie.ogg" controls="controls">
					您的浏览器不支持 video 标签。
				</video>
			</div>
			<div title="<span class='tt-inner'><img src='themes/icons/monitor.png'/><br>通道2</span>" style="height:auto;padding:5px">
				<video src="movie.ogg" controls="controls">
					您的浏览器不支持 video 标签。
				</video>
			</div>
			<div title="<span class='tt-inner'><img src='themes/icons/monitor.png'/><br>通道3</span>" style="height:auto;padding:5px">
				<video src="movie.ogg" controls="controls">
					您的浏览器不支持 video 标签。
				</video>
			</div>
		</div>
		<style scoped="scoped">
			.tt-inner{
				display:inline-block;
				line-height:12px;
				padding-top:5px;
			}
			.tt-inner img{
				border:0;
			}
		</style>
</body>
</html>